*.o
*.hex
/bible.*
/smlz
/run_nix.sh
test*
!/testing/
*.bin
*.bin.elf
*.bin.elf32
*.out
*.so
*.a
*.swp
.*.swp
/.direnv/
/woody_woodpacker
/woody
/woody-*
/test
/development.mk
/build
compile_commands.json
/.cache
